@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}
header{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}
.head-image{
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.head-image img{
    width: 100%;
}
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   font-size: 1rem;
   margin: 0 40px; 
}
.nav-bar{
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}
.logo{
    width: 20vw;
}
.head h3{
    font-size: 2.1rem;
    font-weight: 400;
    color: whitesmoke;
}
.search{
    display: flex;
    width: 55vw;
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 5px 4px;

}
.search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search .search-item p{
    color: gray;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.search .search-item input{
    width: 200%;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 15px;
}
.search .search-item:first-child {
    color: palevioletred;
    width: 30%;
}
.search .search-item:last-child{
    width: 70%;
    color: gray;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.section-1 .section-1-item{
    position: relative;
    width: 15rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(231, 227, 227);
}
.section-1 .section-1-item img{
    width: 100%;
    border-radius: 1px solid  rgb(231, 227, 227) ;
    border-radius: 10px;
    z-index: -1;
}
.section-1 .section-1-item .item-details{
    position: absolute;
    bottom: 0;
    align-items: center;
    border: 0 0 10px 10px;
    background: white;
    width: 100%;
    height: 25%;
    z-index: 2;
}
.section-1 .section-1-item .item-details p{
    text-align: center;
}
.section-2{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.section-2 .section-heading{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400px;
}
.section-2 .section-2-contianer .section-2-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-2 .section-2-contianer .section-2-items .section-2-item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(194, 192, 192);
    padding: 20px;
}
.section-2 .section-2-contianer .section-2-items .section-2-item .item-head{
    font-size: 1.2rem;
    color: rgb(103, 102, 102);
    margin: 0%;
    margin-bottom: 5px;
}
.section-2-items .section-2-item .sudhead{
    font-weight: lighter;
    color: gray;
    margin: 0%;
}
.section-3{
    height: 620px;
    background-color: rgb(255,251,247);
}
.section-3-container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-container .section-3-img img{
    width: 400px;
}
.section-3-container .section-3-content h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section-3-container .section-3-content p{
    font-size: 1.2rem;
    font-size: lighter;
    margin: 0;
    margin-bottom: 5px;
    }
.section-3-container .section-3-downlode img{
    width: 40%;
}
.section-4{
    padding: 40px 120px;
    background-color: rgb(244, 244,253);
}
.first{
    display: flex;
    justify-content: space-between;
}
.first .first-1{
    display: flex;

}
.first .first-1 span{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
}
.second{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    
}
.second div{
    width: 200px;
}
.second h4{
    font-weight: lighter;
    color: rgb(22,22,22);
    white-space: nowrap;
}
.second a{
    display: inline-block;
    margin-bottom: 7px;
    width: 200px;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}
.second img{
    width: 137px;
    height: 40px;
    margin-top: 11px;
    cursor: pointer;
}
.box-4{
    display: flex;
    flex-direction: column;
}
.box-4 i{
    margin-left: 5px;
    margin-bottom: 5px;
}




    









